<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HNWS_Endpoint" value="http://TwinHome/HN/ServiceHN.svc/"/>
    <add key="AdminListText" value="http://Twinhome/JSONWebService/AdminList.txt"/>
    <add key="Auth_Endpoint" value="http://Twinhome/Auth/AuthSvc.svc/"/>
    <add key="Auth_LocalEnd" value="http://localhost:50898/authsvc.svc/"/>
    <add key="AppName" value="HomeNetworkApp"/>
  </appSettings>
</configuration>